---
# vim: set expandtab autoindent tabstop=2 softtabstop=2 shiftwidth=2:
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "hugo-build"

"on":
  push:
    branches:
      - main
  schedule:
    - cron: "42 */12 * * *"

jobs:
  update-robots-txt:
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Copy base robots.txt
        run: cp -f robots-base.txt static/robots.txt

      - name: Fetch generated robots.txt
        run: |
          curl -fsSL -X POST https://api.darkvisitors.com/robots-txts -H "Content-Type: application/json" -H "Authorization: Bearer ${{ secrets.DARKVISITORS_TOKEN }}" -d '{"agent_types": ["AI Agent", "AI Assistant", "AI Data Scraper", "AI Search Crawler", "Intelligence Gatherer", "Scraper", "SEO Crawler", "Undocumented AI Agent", "Uncategorized"]}' >>static/robots.txt

      - name: Commit new robots.txt
        uses: EndBug/add-and-commit@v9
        with:
          add: static/robots.txt
          message: "chore(robots): Update robots.txt"
          default_author: github_actions

  deploy:
    runs-on: ubuntu-latest
    if: "!cancelled()"
    needs:
      - update-robots-txt
    env:
      HUGO_CACHEDIR: /tmp/hugo-cache
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Hugo caches
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.HUGO_CACHEDIR }}
            ./resources
          key: cache-hugo-cachedir-resources
          restore-keys: |
            cache-hugo-cachedir-
            cache-hugo-

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true

      - name: Clean public directory
        run: rm -rf public

      - name: Build
        run: hugo --minify --enableGitInfo

      - name: Create CNAME file
        if: runner.environment == 'github-hosted'
        run: printf 'jgoguen.ca' >public/CNAME

      - name: Create nojekyll file
        if: runner.environment == 'github-hosted'
        run: touch public/.nojekyll

      - name: Deploy to GitHub Pages
        if: runner.environment == 'github-hosted'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

      - name: Deploy
        run: |
          sudo apt-get update
          sudo apt-get install -y rsync

          install -d -m 0700 ~/.ssh
          printf '@cert-authority %s ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIvT1dRp+1kCH7P8H4OF8drJaSMDPDs5NtvB956hA6AJ\n' "${{ vars.SSH_DEPLOY_HOST }}" >>~/.ssh/known_hosts

          eval $(ssh-agent)
          ssh-add - <<< "${{ secrets.SSH_DEPLOY_KEY }}"

          # This assumes authorized_keys on the server is set to force rrsync with the target directory. If not, say bye
          # bye to the user's home directory I guess.
          rsync -rlP --delete --exclude='CNAME' --exclude='.nojekyll' ./public/ ${{ vars.SSH_DEPLOY_USER }}@${{ vars.SSH_DEPLOY_HOST }}:
